<div class="row">
    <div class="col">
        <nav class="row navbar navbar-expand-lg navbar-light color">
            <a class="col-1" routerLink="/accueil"><img src="assets/logo/logo3.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text col-9 offset-1" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto survol row">
                    <a class="col-2 nav-item nav-link active" routerLink="/accueil">Accueil</a>
                    <a class="col-2 nav-item nav-link" routerLink="/catalog">Catalogue</a>
                    <a class="col-2 nav-item nav-link" routerLink="/panier">Panier</a>
                    <a class="col-3 nav-item nav-link" routerLink="/search">Chercher un produit</a>
                    <div class="dropd col-3 nav-item nav-link">
                        <button class="btn" (click) = "show()" mat-raised-button>Styles</button>
                        <div id="drop-content" style="display: none;">
                            <a href="#">thème 1</a>
                            <a href="#">thème 2</a>
                            <a href="#">thème 3</a>
                        </div>
                    </div>
                    <!-- <select class="col-3 nav-item nav-link">
                            <option value="">thèmes</option>
                            <option value="" (click) = "change()">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                        </select> -->
                    <!-- <li class="col-3 nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#" (click) = "change()">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </li> -->
                </div>
            </div>
        </nav>


    </div>
</div>