img  {
    height: 100px;
    width: 100px;
}

nav {
    padding: 0;
    opacity: 0.7;
}

.color {
    background-color: rgb(51, 33, 45);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(165, 163, 42);
    font-weight: bold;
    font-size: 23px;
    
}

.survol :hover {
    background-color: rgb(231, 14, 141);   
    
}

.dropd {
    position: relative;
    display: inline-block;
    
}

.btn {
    padding: 10px 40px;
    color: rgb(165, 163, 42);
    font-weight: bold;
    font-size: 23px;
}

#drop-content {
    position: absolute;
    z-index: 1;
}

#drop-content a {
    display: block;
    font-size: 20px;
    background: grey;
    text-decoration: none;
    padding: 10px 36px;
    margin-top: 2px;
}

