<div class="row">
    <div class="col">
        <nav class="row navbar navbar-expand-lg navbar-light color">
            <a class="col-1" routerLink="/accueil"><img src="assets/logo/logo3.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text col-9 offset-1" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto survol row">
                    <a class="col-2 nav-item nav-link active" routerLink="/accueil">Accueil</a>
                    <a class="col-2 nav-item nav-link" routerLink="/catalog">Catalogue</a>
                    <a class="col-2 nav-item nav-link" routerLink="/panier">Panier</a>
                    <a class="col-3 nav-item nav-link" routerLink="/search">Chercher un produit</a>
                    <div id="nav-options" class="btn-group pull-right hidden col-2">
                        <button type="button" class="btn btn-default dropdown-toggle thumbnail" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                            Academics
                        </button>
                        <div class="dropdown-menu">
                           <a routerLink="/catalog"> Link page</a> 
                            
                            <a href="#"> Linkpage 2</a>
                           
                           <a href="#"> Link page 3</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

