img {
    height: 200px;
    padding: 10px;
}

.card {
    height: 200px;
}

.body {
    background-color:#97ad19;
}

.add {
    background-color: #7e3300;
    color: rgb(177, 241, 231);
    font-weight: bold;
}

.card-title, .card-text {
    color: rgb(146, 99, 13);
 }

 .infos {
     color: darkmagenta;
     font-weight: bold;
 }

 h1 {
     color:yellow;
 }

