img {
    height: 400px;
    width: 70px;
   opacity: 0.9;
}

h1, h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

@media screen and (max-width : 500px) {
    img {
        height: 50px !important;
        width: 70px !important;           
    }

    

}